@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
  background-color: rgb(255, 255, 247);
  margin: 0;
  min-height: 100vh;
  background: url('./SVG/cookieBackground.svg') no-repeat;
  background-position: center center; 
  background-attachment: fixed; 
  background-repeat: no-repeat; 
  background-size: cover;
}

.brokenCookie {
  position: absolute;
  z-index: 2;
  left: 50%;
  min-width: 300px;
  margin-left: -150px;
  margin-top: 20px;
}

.fortunePaper {
  position: absolute;
  z-index: 3;
  display: table;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(3, 3, 184);
  width: 280px;
  height: 56px;
  margin: auto;
  margin-left: 10px;
  margin-top: -165px;
}

.theFortune {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: rgb(3, 3, 184);
  font-family: 'Times New Roman', Times, serif;
}

.upperLeftRectangle {
  position: absolute;
  width: 8%;
  height: 10%;
  background: rgb(3, 3, 184);
  left: -1px;
  top: -1px;
}

.upperRightRectangle {
  position: absolute;
  width: 8%;
  height: 10%;
  background: rgb(3, 3, 184);
  right: -1px;
  top: -1px;
}

.lowerLeftRectangle {
  position: absolute;
  width: 8%;
  height: 10%;
  background: rgb(3, 3, 184);
  left: -1px;
  bottom: -1px;
}

.lowerRightRectangle {
  position: absolute;
  width: 8%;
  height: 10%;
  background: rgb(3, 3, 184);
  right: -1px;
  bottom: -1px;
}

.redBox {
  position: relative;
  z-index: 1;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  padding: 20px;
  background-color: none;
  text-align: center;
}

.getFortune {
  font-family: 'Kaushan Script', cursive;
  background-color: rgb(179, 0, 0);
  color:  white;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  margin-top: 20px;
}

.getFortune:hover {
  box-shadow: 0 0 10px rgb(255, 0, 0);
  border: 1px solid rgb(255, 0, 0);
}

.getFortune:active {
  background-color: red;
  color:white;
  border: 1px solid red;
}

.getFortune:focus {
  outline: none;
}

.btnLeft {
  display: inline-block;
  padding-right: 5px;
  font-family: 'Kaushan Script', cursive;
  color:  rgb(179, 0, 0);
}

.btnRight {
  display: inline-block;
  padding-left: 5px;
  font-family: 'Kaushan Script', cursive;
  color: rgb(179, 0, 0);
}

.btnLeft:hover, .btnRight:hover {
  text-shadow: 0 0 10px rgb(255, 0, 0);
  color: rgb(179, 0, 0);
  text-decoration: none;
}

.btnLeft:focus, .btnRight:focus {
  color: red;
  box-shadow: none;
  text-decoration: none;
}

.btnLeft:active, .btnRight:active {
  color: rgb(255, 0, 0);
  text-decoration: none;
}

.click {
  margin-top: 25px;
}

.typeFortune {
  position: absolute;
  font-size: 14px;
  color: rgb(179, 0, 0);
  border-color:  rgb(179, 0, 0);
  min-width: 280px;
  left: 50%;
  margin-left: -140px;
  height: 56px;
  resize: none;
  border-width: 1px;
  margin-top: 25px;
 
}

.typeFortune:focus {
  outline: none;
  box-shadow: 0 0 10px rgb(255, 0, 0);
  border: 1px solid rgb(255, 0, 0);
}

.charactersRemaining {
  position: absolute;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(179, 0, 0);
  margin-top: 90px;
  min-width: 280px;
  left: 50%;
  margin-left: -140px;

}

.submit {
  font-family: 'Kaushan Script', cursive;
  background-color: rgb(179, 0, 0);
  color:  white;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  margin-top: 150px;
}

.submit:hover {
  box-shadow: 0 0 10px rgb(255, 0, 0);
  border: 1px solid rgb(255, 0, 0);
}

.submit:active {
  background-color:red;
  color: white;
  border: 1px solid red; 
}

.submit:focus {
  outline: none;
}

@media screen and (min-width: 1025px) {
  .btnRight, .btnLeft {
    font-size: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .btnRight, .btnLeft {
    font-size: 40px;
  }
}

@media screen and (max-width: 600px) {
  .btnRight, .btnLeft {
    font-size: 30px;
  }
}