@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
  background-color: lightgray;
  padding-top: 5%;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  color:  rgb(3, 3, 184); 
  border-radius:20px;
  background: 
    radial-gradient(100px circle at 100px 100px, transparent 100%, white 100%),
    conic-gradient(lightyellow 40%, transparent 0 60%, rgb(250, 250, 203) 0 40%);
  background-size: 200px 200px;
  background-repeat: space round;
}

.submit {
  font-family: 'Kaushan Script', cursive;
  background-color: rgb(179, 0, 0);
  color:  white;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  margin-top: 20px;
}

.submit:hover {
  background-color: red;
}

.submit:active {
  background-color: white;
  color: rgb(179, 0, 0);
  border: 2px solid rgb(179, 0, 0); 
}

.submit:focus {
  outline: none;
}

.getFortune {
  font-family: 'Kaushan Script', cursive;
  background-color: rgb(179, 0, 0);
  color:  white;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  margin-top: 35px;
}

.getFortune:hover {
  background-color: red;
}

.getFortune:active {
  background-color: white;
  color: rgb(179, 0, 0);
  border: 2px solid rgb(179, 0, 0);
}

.getFortune:focus {
  outline: none;
}

.fortunePaper {
  position: relative;
  display: table;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(3, 3, 184);
  width: 280px;
  height: 56px;
  margin: auto;
  margin-top: 50px;
  box-shadow: 5px 5px 5px gray;
}

.theFortune {
  display: table-cell;
  vertical-align: middle;
  color: rgb(3, 3, 184);
}

.upperLeftRectangle {
  position: absolute;
  width: 8%;
  height: 10%;
  background: rgb(3, 3, 184);
  left: -1px;
  top: -1px;
}

.upperRightRectangle {
  position: absolute;
  width: 8%;
  height: 10%;
  background: rgb(3, 3, 184);
  right: -1px;
  top: -1px;
}

.lowerLeftRectangle {
  position: absolute;
  width: 8%;
  height: 10%;
  background: rgb(3, 3, 184);
  left: -1px;
  bottom: -1px;
}

.lowerRightRectangle {
  position: absolute;
  width: 8%;
  height: 10%;
  background: rgb(3, 3, 184);
  right: -1px;
  bottom: -1px;
}

.btn {
  font-family: 'Kaushan Script', cursive;
  color:  rgb(179, 0, 0);
  font-size:5vw;
}

.btn:hover {
  color: red;
}

.btn:focus {
  color: red;
  box-shadow: none;
}

.btn:active {
  color: rgb(179, 0, 0);
}

.click {
  margin-top: 25px;
}

.container {
  margin: auto;
  text-align: center;
  
}

.typeFortune {
  font-size: 14px;
  color: rgb(179, 0, 0);
  border-color:  rgb(179, 0, 0);
  width: 280px;
  height: 56px;
  resize: none;
  border-width: 1px;
  margin-top: 25px;
  box-shadow: 5px 5px 5px gray;
  
}

.typeFortune:focus {
  outline-color: red;
}

p {
  font-family: 'Times New Roman', Times, serif;
  color: rgb(179, 0, 0);
}